

.contenedor_sala { /*Agrupa en una tira la sala en vivo y las fichas de los gatitos*/
    background-color:#FF3049;
    display:inline-block;
/*    position:absolute;*/
    vertical-align: top;
}

.container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/

}

.franja {
    background-color:#f7e68280;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 2fr;
    padding: 5px;

}
.video {
    width: 100%; /* Ajustar el tamaño del video según sea necesario */
}

.cinta {
    margin-top: 20px ;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;

}
.ficha_cine{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media only screen and (max-width:915px){
    .franja {
        background-color:#f7e68280;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 350px 300px ;
        padding: 5px;
        margin-bottom: 25px;
    }
    .video {
        width: 100%; /* Ajustar el tamaño del video según sea necesario */
        /*height: 100%;*/
    }
    
    .cinta {
        margin-top: 20px ;
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        
    }
    .ficha_cine{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

