.parent1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  }

.contenedoruno { 
    grid-area: 1/1/2/2;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 3% ;
    border-radius: 5%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column; /* Alinear los elementos verticalmente */
}

.bienvenidos{ 
    float: left;
    width: 90%;
    text-align: center;
    margin: 10px 5%;
    font-size: 200%;
    font-family: 'Oduda Bold';
    color: #D62828;
}

.primerparrafo{
    float: left;
    width: 90%;
    text-align: justify;
    font-size: 150%;
    line-height: 1.2;
    font-family: "Bookman Old Style";
    margin: 10px 5% 6%;

}

.contenedordos {
  grid-area: 1/2/2/3;
}

.carousel{  
    border-radius: 5%;
    margin-top: 5%;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}
  
  .carousel-inner {

    display: flex;
    animation: carousel 20s infinite; /* Cambia "2s" al tiempo deseado entre cada cambio de diapositiva */
}
  
  .carousel-item {
    flex: 0 0 100%;
}
  
  @keyframes carousel {
    0% { transform: translateX(0); }
    25% { transform: translateX(0); }
    33.333% { transform: translateX(-100%); }
    58.333% { transform: translateX(-100%); }
    66.666% { transform: translateX(-200%); }
    91.666% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}
  
  .carousel img {
    border-radius: 5%;
    width: 100%;
    height: 90%;
    object-fit: cover;
}

@media only screen and (max-width: 1350px) {
  .parent1 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      place-items: center;
      }
  .contenedoruno { 
    grid-area: 1/1/2/2;
    margin-bottom: 3%;
    margin-top: 3% ;
    border-radius: 5%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column; /* Alinear los elementos verticalmente */
}
.bienvenidos{ 
  float: center;
  width: 90%;
  text-align: center;
  margin: 10px 5%;
  font-size: 200%;
  font-family: 'Oduda Bold';
  color: #D62828;
}

.primerparrafo{
  float: center;
  width: 90%;
  text-align: justify;
  font-size: 150%;
  line-height: 1.2;
  font-family: "Bookman Old Style";
  margin: 10px 5% 6%;
}
  .contenedordos {
       grid-area: 2/1/3/2;
   }
}

.parent2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  }

.cont_ig{
  grid-area: 1/1/2/2;
}

.carrousel{  
  border-radius: 5%;
  margin-left: 20%;
  width: 100%;
  max-width: 350px;
  overflow: hidden;
}

.instagram-media {
  flex: 0 0 100%;
}

.carrousel .instagram-media {
  border-radius: 5%;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.contenedormaps{
  grid-area: 1/2/2/3;
  margin-left: 5%;
}

@media only screen and (max-width: 1350px){
  .parent2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    }
  
  .cont_ig{
    grid-area: 1/1/2/2;
  }
  
  .carrousel{  
    border-radius: 5%;
    margin-right: 200px;
    width: 100%;
    max-width: 350px;
    overflow: hidden;
  }
  
  .instagram-media {
    flex: 0 0 100%;
  }
  
  .carrousel .instagram-media {
    border-radius: 5%;
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  
  .contenedormaps{
    grid-area: 2/1/3/2;
  }
}

.contenedormotivacion{ width: 85%;
  margin-left: 8%;
  margin-bottom: 1%;
  margin-top: 3% ;
  border-radius: 4%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column; /* Alinear los elementos verticalmente */
} 

  .motivacion {
    text-align: center;
    margin-left: 10px;
    margin-top: 1%;
    font-size: 200%;
    font-family: 'Oduda Bold';
    color: #D62828;
}

  .motivacionparrafo{
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 150%;
    line-height: 1.2;
    font-family: "Bookman Old Style";
    margin-bottom: 4%;

}

.formulario{
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-bottom: 1%;
}

.formulario form {
  width: 60vw; /* Ajusta el ancho del formulario al 90% del ancho de la ventana */
  height: 60vh; /* Ajusta el alto del formulario al 90% del alto de la ventana */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex; /* Usa flexbox para el diseño */
  flex-direction: column; /* Alinear elementos en columna */
  justify-content: space-around; /* Distribuye los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}
.formulario input[type="text"], input[type="email"], textarea, select, input[type="tel"], input[type="submit"] {
  width: calc(100% - 20px); /* Ajusta el ancho para tener en cuenta el relleno */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.formulario textarea {
  width: calc(100% - 20px); /* Ajusta el ancho al 100% menos el relleno */
  height: 150px; /* Altura fija */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical; /* Permite redimensionar verticalmente */
}
.formulario a input[type="submit"] {
  background-color: #EFBB14;
  color: white;
  border: none;
  width: 40vw;
  cursor: pointer;
}
.formulario a input[type="submit"]:hover {
  background-color: #CFA42D;
}

.parent3 {
  display: grid;
  grid-template-columns: 412px 410px;
  grid-template-rows: 157px 117px;
  justify-content: center;
  margin-bottom: 10px;
  }
  
  .imagen { 
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
  }
  .wame { 
    grid-area: 2 / 1 / 3 / 2; 
    width: 100%;
    height: 100%;
  }
  .yt { 
    grid-area: 1 / 2 / 3 / 3; 
  }

  @media only screen and (max-width: 950px) {
    .parent3 {
      display: grid;
      grid-template-columns: 412px;
      grid-template-rows: 157px 117px 274px;
      justify-content: center;
      margin-bottom: 10px;
      }
    .imagen { 
      grid-area: 1 / 1 / 2 / 2;
      width: 100%;
      height: 100%;
    }
    .wame { 
      grid-area: 2 / 1 / 3 / 2; 
      width: 100%;
      height: 100%;
    }
    .yt { 
      grid-area: 3 / 1 / 4 / 2; 
    }
  }
